#mapicon {
  float: right;
  height: 50px;
  width: 50px;
}

#backicon {
  float: left;
  height: 30px;
  width: 30px;
}
p {
  font-family: 'AvenirNext-DemiBold';
  font-size: 20px;
}

span {
  font-family: 'AvenirNext';
  font-size: 20px;
}
header h1{
  text-align: center;
}

.name {

}
.category {
}
.main {
  color: #ffffff;
}

.img p {
 position: absolute;
  color: #ffffff;
}

agm-map {
  height: 300px;
}

.mapheader {
  padding: 10px;
  height: 100%;
  background-color: #34b379;
  color: #ffffff;
}

