#mapicon {
  float: right;
  height: 50px;
  width: 50px;
}

#backicon {
  float: left;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
p {
  font-family: 'AvenirNext-DemiBold';
  font-size: 20px;
}

span {
  font-family: 'AvenirNext';
  font-size: 20px;
}
header h1{
  text-align: center;
}

.name {
  color: #ffffff;
  bottom: 60px;
  left: 16px
}

.category { 
  color: #ffff;
  bottom: 10px;
  left: 20px;
}

.main {
  color: #ad8f8f;
}

/* .img p {
 position: absolute;
  color: #ffffff;
} */

agm-map {
  height: 300px;
}

.mapheader {
  padding: 10px;
  height: 100%;
  background-color: #34b379;
  color: #ffffff;
}

