/* You can add global styles to this file, and also import other style files */
header {
  background-color: #43e895;
  color: #ffffff;
  height: 100%;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 50.5%;
  margin: auto;
}

@media (max-width: 2000px) and (min-width: 1300px) {
    #container {
      width: 50.5%;
      margin: auto;
    }
    .img,
    img {
      width: 100%;
    }
  }

@media (max-width: 1300px) and (min-width: 1000px) {
  #container {
    width: 50.5%;
    margin: auto;
  }
  .img,
  img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  #container {
    width: 50.5%;
    margin: auto;
  }
  img,
  img {
    width: 100%;
  }
}
